{% extends "core/base.html" %}

  <!-- Your website content goes here -->
  {% block content %}
    <div style="float: left;  margin-top: 80px; margin-left: 130px; align-items: center; display: flexbox;" >

        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Manage Data </h1>
        <a href="{% url 'productdata' %}"><button id="button" type="button" style="margin-left: 40px; margin-top: 20px;" >Products</button></a>
        <br/>
        <a href="{% url 'categorydata' %}"><button id="button" type="button" style="margin-top: 15px; margin-left: 40px; ">Categories</button></a>
        <br/>
        <a href="{% url 'cartitems' %}"><button id="button" type="button" style="margin-top: 15px; margin-left: 40px;">Cart Items</button></a>
        <br/>
        <a href="{% url 'ordereditems' %}"><button id="button" type="button" style="margin-top: 15px; margin-left: 40px;">Ordered Items</button></a>

    </div>
    
    <div style="float: right;">
        <img src="https://popupsmart.com/blog/user/pages/125.how-to-get-people-to-buy-your-product/online-shopping.jpg" height="645px" width="100%">    

    </div>
    

  {% endblock content %} 