{% extends "core/base.html" %}

  <!-- Your website content goes here -->
  {% block content %}
    
    <!-- Product Container -->
    <br/><br/>
    <div class="product-container">
    <!-- Product Cards -->

    {% for product in products %}

    <div class="product-card" id="product1">
        <img src="{{product.img.url}} " alt="Product 1" class="product-image">
        <h4>{{product.name}}</h4>
        <p>Category: {{product.category.category_name}}</p>
        <div class="section-divider"></div>
        <p>Price: {{product.price}} Rs.</p>
        <div class="section-divider"></div>
        <!-- <button>Add to Cart</button> -->
        <a href="{% url 'prod_desc' product.pk %}"><button>View More</button> </a>
    </div>
    <br/>
    {% endfor %}

</div>


<br/><br/><br/>
  {% endblock content %}